<footer >

    <div class="foot-fixed-bottom">
        <div class="container">
            <div class="row"></div>
            <div class="row">
                <div class="col-md-4">
                    <strong>YES教育中心</strong><br>
                    #204 - 2112 WestBroadway<br>
                    Vancouver BC Canada V6K 2C8<br>
                </div>
                <div class="col-md-4">
                    <div class="bottom-space">
                        <i class="icon-phone icon-large"></i> (604) 733-2776
                    </div>
                    <a href="mailto:info@yeseducation.com" class="contact-mail">
                        <i class="icon-envelope icon-large"></i>
                    </a> info@yeseducation.com
                </div>
                <div class="col-md-4">
                    <div class="bottom-space">
                        <i class="icon-copy icon-large"></i> (604) 604-733-2772
                    </div>
                    <a href="http://www.yeseducation.com" class="contact-mail">
                        <i class="icon-sitemap icon-large"></i>
                    </a> www.yeseducation.com
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 center-align">&copy; 2012-3000 YES教育中心, Inc. All Rights Reserved.</div>
            </div>
        </div>
    </div>

    <!--<hr class="footer-divider">-->
</footer>