<header>
    <!-- Start: Navigation wrapper -->
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand brand-bootbus" href="index.html"></a>
                <!-- Below button used for responsive navigation -->
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Start: Primary navigation -->
                <div class="nav-collapse collapse">
                    <ul class="nav pull-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">高级课程<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a ui-sref="advance1">SAT 备考班</a></li>
                                <li><a ui-sref="advance1">ACT 备考班</a></li>
                                <li><a ui-sref="advance1">AP 课程</a></li>
                                <li><a ui-sref="advance1">深度课程</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">基础课程<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a ui-sref="basc1">基础写作班</a></li>
                                <li><a ui-sref="basc1">数学提高班</a></li>
                                <li><a ui-sref="basc1">SSAT 备考班</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">关于<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a ui-sref="about-us">学校简介</a></li>
                                <li><a ui-sref="contact-us">联系信息</a></li>
                                <li><a ui-sref="map">地址</a></li>
                            </ul>
                        </li>
                        <li><a ui-sref="faq">FAQ</a></li>
                        <li><a ui-sref="contact-us">Contact us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End: Navigation wrapper -->
</header>