<div class="container-fluid ">
    <div class="row">
        <div class="col-md-5 col-xs-5 col-sm-5 text-center">
            <h1>新闻</h1>
        </div>
    </div>
    <div class="row-fluid equal">
        <div class="col-md-5 col-xs-5 col-sm-5 mygrid-wrapper-div">
            <accordion close-others="true">
                <ul class="list-group">
                    <li ng-repeat="item in list | orderBy: 'created': true "  ng-class="{'active': selected({{item.id}}) , 'list-group-item':true}" >
                        <a ui-sref="home.news({id:{{item.id}}})">{{item.title}}</a>
                        <span class="badge">{{item.created | date:'yyyy-MM-dd'}}</span>
                    </li>
                </ul>
                <!--<accordion-group heading="{{group.title}}" ng-repeat="group in groups">-->
                    <!--{{group.content}}-->
                <!--</accordion-group>-->
            </accordion>
        </div>
        <div class="col-md-7 col-xs-7 col-sm-7 mygrid-wrapper-div">
            <div ui-view="news">
                <img src="img/placeholder.jpg" class="thumbnail img-responsive center-block">
            </div>
        </div>
    </div>
</div>