<div class="container-fluid">
    <div class="row-fluid">
        <div class="span5 ">
            <accordion close-others="true">
                <ul class="list-group">
                    <li ng-repeat="item in list"  ng-class="{active: selected({{$index}}) , 'list-group-item':true}" >
                        <a ui-sref="home.news({id:{{$index}}})">{{item}}</a>
                    </li>
                </ul>
                <!--<accordion-group heading="{{group.title}}" ng-repeat="group in groups">-->
                    <!--{{group.content}}-->
                <!--</accordion-group>-->
            </accordion>
        </div>
        <div class="span7">
            <div ui-view="news">
                <img src="img/placeholder.jpg" class="thumbnail img-responsive center-block">
            </div>
        </div>
    </div>
</div>