<div class="content">
    <div class="container">
        <div class="page-header">
            <h1>地址</h1>
        </div>
        <div class="row bottom-space">
            <div class="span6">
                <map style="display:block;height:300px;width:400px" center="2112 WEST BROADWAY，VANCOUVER, BC, CANADA V6K 2C8" >
                    <marker position="2112 WEST BROADWAY，VANCOUVER, BC, CANADA V6K 2C8" title="YES教育中心" animation="Animation.BOUNCE" centered="true"></marker>
                </map>
            </div>
            <div class="span6">
                <address>
                    Written by <a href="mailto:webmaster@example.com">Jon Doe</a>.<br>
                    Visit us at:  <a href="www.cnn.com">www.yes.com</a><br>
                    2112 WEST BROADWAY<br>
                    VANCOUVER, BC<br>
                    CANADA V6K 2C8
                </address>
            </div>
        </div>

    </div>
</div>