<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">关于YES教育中心</h3>
        <p>以“帮助追求美加名校梦想的孩子进入目标大学”为目的，突出“辅导和拓展视野”和“提高专项考试成绩”，为中小学生提供多学科的培训和辅导以及申请美国及加拿大大学的报考诀窍的咨询。</p>
    </div>
    <div class="panel-body">
        <h2>本中心卓越特色：</h2>
        <ul>
            <li>YES经验丰富：创办人为耶鲁大学学生家长，拥有与孩子共同学习成长、把孩子送入美国顶尖常春藤名校的亲身经历；</li>
            <li>YE名师荟聚：中心所有教师均拥有中国、美国、加拿大或欧洲高等学历，具有丰富的英文授课经验；</li>
            <li>YES一站式服务：多样化的学科设置让您的孩子来到这里能够得到全方面的辅导, 减少路途的奔波；</li>
            <li>YES小班教学：兼顾到每位学生，并做差异化辅导，以期达到孩子课堂知识接受度的最大化；</li>
            <li>YES教学相长：课堂上以教师授课为主，兼具与学生互动练习，培养学生的critical思维能力，提高课后自主学习能力；</li>
            <li>YES及时与家长沟通：针对不同孩子的特点及兴趣爱好，提供孩子培养的建议，以达到最佳学习效果。</li>
        </ul>
        <p>YES教育中心位于温哥华西区 West Broadway，毗邻BC省多所著名公立及私立学校，学习氛围积极向上，环境优雅，交通便利。</p>

    </div>
</div>