
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">YES衷心祝贺以下同学取得优异成绩:</h3>
    </div>
    <div class="panel-body">
        <table class="table">
            <tr>
                <td>
                    S. Zhang  牛津大学
                </td>
                <td>
                    F. Zhu        哥伦比亚大学
                </td>
            </tr>
            <tr>
                <td>
                    S. Zhang  牛津大学
                </td>
                <td>
                    L. Luo        杜克大学
                </td>
            </tr>
            <tr>
                <td>
                    C. Wu      	威廉斯学院
                </td>
                <td>
                    Y. C. Hua    SAT I  Reading 800,  Writing 790
                </td>
            </tr>
        </table>
    </div>
</div>