
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">College Board 已决定对现行的SAT I考试实行重大改革</h3>
    </div>
    <div class="panel-body">
        <p>详情请参阅2014年3月5号的纽约时报(New York Times: Major Changes in SAT Announced by College Board　－　T. Lewin)
        </p><p>
            新 的SAT I考试将于2016年开始实施。SAT I在近几年中开始落后于ACT(American College Test)。参加ACT考试的学生数在过去两年中已经都超过SAT。2013年参加ACT考试的学生接近一百八十万，而参加SAT I考试的学生人数为一百六十多万。越来越多的美国教育部门采用ACT系统作为中学考试系统。专家们一致认为：SAT改革势在必行，改革后的SAT I将更加象ACT，
    </p><p>
            每个重大的改革，对考生都将是一个严峻的考验。为了避免改革期间的不确定因数，不少学生转向已定型的ACT考试。ACT 考试没有英文写作部分，而有基础科学知识的测试。由于英文在ACT考试中的比重比SAT I 小，对华裔考生更有利。
    </p><p>
            所有美国大学在录取学生时都欢迎学生提交ACT成绩，有些学校更喜欢ACT成绩，因为ACT成绩更能反映出一个学生的综合素质。为了满足学生和家长的需 求，YES教育中心经过精心筹备，将开出全新的ACT课程，全程由本中心蜚誉大温地区的名牌教师亲自授课。欢迎有兴趣的家长及学生咨询、报名。
        </p>

    </div>
</div>