
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">***衷心感谢众多家长的支持，本期名额已满。我们努力争取尽快推出新的一期，敬请留意。***</h3>
        <h3 class="panel-title">名校生伴你成长</h3>
    </div>
    <div class="panel-body">
        <p>俗 话说：“近朱者赤，近墨者黑”。在一个人的成长过程中，良师益友必不可少。一个好的榜样胜过无数的说教。YES教育中心有幸得到一批顶尖常春藤名校学生的 支持和配合，郑重推出“名校生伴你成长”计划。我们将由一个顶尖名校毕业或在校的学生，陪伴您的孩子成长。这个大哥哥，大姐姐将为您的孩子树立一个阳光的 榜样。您的孩子将有机会直接与这位大哥哥，大姐姐保持联系，交朋友。他们将回答您的孩子的各种问题，参照自己亲身的经历，引导您的孩子走积极向上的阳光 道。他们的陪伴和引导，可以减少您和孩子的困惑和忧虑，避免走弯路，让您的孩子更加轻松愉快地成长</p>
        <p>名额有限，详情请致电（604）733-2776查询。</p>
    </div>
</div>