
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">玉不雕不成器，只有名工巧匠才能雕琢出无价的名器!</h3>
        <h3 class="panel-title">只有知识渊博、经验丰富的老师，才能帮您的孩子圆名校之梦！</h3>
        <h3 class="panel-title"> 我们汇聚了大温众多的名师
        </h3>
        <h3 class="panel-title">我们以大温地区最强大的师资队伍，隆重推出以下暑期课程，
            帮您的孩子插上飞翔的翅膀，
            帮您把心中的玉雕琢成无价的名器。
        </h3>
    </div>
    <div class="panel-body">
        <p>YES 教育中心暑期课程
            </p><p>
            ♦ ♦ ♦新开课程♦ ♦ ♦
    </p><p>
            UBC Chem121
    </p><p>
            UBC Chem123
    </p><p>
            --------------------------------------------------------

    </p><p> •	SAT，SSAT，PSAT

    </p><p> •	数学（BC，AP， IB， Calculus）
    </p><p> •	化学（BC，AP， IB， Olympiad, UBC Chem121,UBC Chem123）
    </p><p> •	物理（BC，AP， IB）
    </p><p> •	生物（BC，AP， IB， Olympiad）
    </p><p> •	AP经济学（宏观，微观）
    </p><p> •	雅思，ESL，法语(初、中级班)
    </p><p> •	英文阅读（Critical）和写作 （Creative）
    </p><p> •	小学生夏令营（英语，中文，中国文化，中国历史，中国地理，数学，科学）
        </p>
    </div>
</div>